@page
@model LeapYear.Pages.ZapisaneModel
@{
    ViewData["Title"] = "Zapisane";
}

<div class="text-center">
    <h1 class="display-4">Zapisane w sesji:</h1>
    
    <ul>
        @foreach(var YearNameForm in Model.GetYearNameForms())
        {
            <li>
                <p>@YearNameForm.Name urodził@(YearNameForm.Name.EndsWith("a") ? "a" : "") się @YearNameForm.Year. </p>
                <p>To  @(DateTime.IsLeapYear(YearNameForm.Year) ? "" : "nie") był rok przestępny.</p>
                <br>
            </li>
        }
    </ul>
</div>
